/* CSS Document */
*{ margin:0; padding:0;}
body{ font-family: 'Poppins', sans-serif; font-size: 14px; color: #444; font-weight: 400; }
main p, main ul li{font-size: 13px; line-height: 25px; color: #777;}
.text-primary{ color: #2169B2 !important;}
.text-justify{text-align: justify; }

.icon-list li::before {
  display: block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5rem;
	margin-left: .5rem;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
}

.ysri_section section{padding :4% 0 !important;}

.ysri_section .btn{ background-color: #7BBF4B; border: 0; color: #fff; }
.ysri_section .btn:hover{ background-color: #7BBF4B; border: 0; color: #fff; }

/*MAIN*/
h1, h1.text-dark{
	font-weight: 600;
	font-size: 32px;
	line-height: 12px;
	padding:10px 0;
	margin-bottom: 35px;
	text-transform: uppercase;
	color:#2169B2 !important;
}

h2{
font-weight: 600;
font-size: 30px;
line-height: 59px;
text-align: center;
padding:10px 0;
margin-bottom: 20px;
color: #000;	
}

h2 span, h3 span{ color:#2169B2;}

.bordertitle, .bordertitlegreen {
	border-bottom: solid 3px #eee;
	margin-bottom: 30px;
	padding-bottom: 5px;
	position: relative;
	color:#fff;
	font-weight: 600;
	font-size: 20px;
	line-height: 35px;
	}
.bordertitlegreen { color:#000;}

.bordertitle::before, .bordertitlegreen::before{
	background-color: #9ED2FF; 
	content: '';
	position: absolute;
	height: 6px;
	width: 150px;
	max-width: 100%;
	top: auto;
	bottom: -6px;
	left: 0;
	right: auto;
	}
.bordertitlegreen::before{	background-color: #7BBF4B;	}

/*Breadcrum Heading*/
.main_heading_breadcrum h1{ font-size: 24px; font-weight: bold; text-align: left; margin-bottom: 10px; color: #444;}
.main_heading_breadcrum {background-color: #e6f3ff !important; margin: 0 0 20px; padding: 20px 0; position: relative; text-align: left; color: #1B65A6;}
.main_heading_breadcrum .p-static { position: static !important;}
.main_heading_breadcrum .sub-title {display: block; font-size: 1em; font-weight: 300; margin: 0; opacity: .8; color: #444;}
.main_heading_breadcrum .breadcrumb.breadcrumb-light {color: #000;}
.main_heading_breadcrum .breadcrumb.breadcrumb-light a {color: #000; text-decoration: none;}
.main_heading_breadcrum .breadcrumb.breadcrumb-light .active {opacity: .7; color: #000;}
.main_heading_breadcrum .breadcrumb > li {display: inline-block; font-size: .8em; text-transform: uppercase; text-shadow: none;}
.main_heading_breadcrum .breadcrumb > li + li::before {color: inherit; opacity: .5; font-family: 'FontAwesome'; font-weight: 900;content: "\f105"; padding: 0 7px 0 5px;}

/*HEADER*/
header.main_ysriHeader{background: #FFFFFF; box-shadow: 0 8px 6px -6px rgba(0,0,0,.2); border-bottom: solid 1px #eee; }
.header_topbar{ background: #2169B2 ; padding : 4px 0; text-align: right;  color: #fff; font-weight: 400;  }
.header_topbar span{ font-weight:bold; font-size:20px; margin-top: 5px !important; line-height: 0;font-family: bebas neue; margin-right: 5px;  }
.header_topbar .btn{background-color: #7BBF4B; margin-left: 5px; padding: 2px 10px; }
.navbar-brand{margin:0; padding: 0;}
.main_ysriHeader li.nav-item .nav-link{ letter-spacing: -.5px; display: block; transition: .5s; height: 85px; font-size:13px; padding:32px 14px 0 14px; margin:0 1px 8px; text-transform: uppercase; font-weight: 600; color:#2169B2}
.main_ysriHeader .navbar-nav li.nav-item .active, li.nav-item .nav-link:hover, li.nav-item .nav-link:focus{color:#fff !important; background-color: #7BBF4B; }
.navbar{ background:#fff; padding: 0;  }
.navbar-toggler{ background: #2169B2;color: #fff;}
.navbar-toggler:focus {	box-shadow: 0;}

.dropdown-menu{ border-top:solid 3px #7BBF4B; border-radius: 0;}
.dropdown-menu li{ padding:5px;}
li.nav-item .nav-link{ color:000 !important;  font-size:16px;}
.dropdown-menu a{ font-size:14px; }
.dropdown-menu a:focus{background-color: #7BBF4B;	}
.ayushman_header_logo{ max-height: 74px; margin: 10px 0 0 10px;}

.carousel-item {  height: 29rem;  }
/* Carousel base class */
.carousel { margin-bottom: 0rem; margin-top:119px;}
.carousel-caption {top: 0rem; z-index: 10; padding: 10px; }
.carousel-caption h1{font-weight: 700; font-size:2em;}
.carousel-caption h1 span{font-size:18px; font-weight: bold;}
.carousel-caption p{color:#fff; }
.carousel-item img { height: auto; background-position: center;} 




@media (max-width: 768px) {
.carousel-caption p {margin-bottom: 1.25rem; font-size: 1rem; line-height: 1.4;  }
.carousel-item {  height: auto; }
.carousel-caption {  top: 8rem;  z-index: 10;}
}

/*Service Box Style*/
.service-item,.common_service_box { 
	padding-bottom:10px;
	text-align: center;
	background: #FFFFFF;
	border-top: 4px solid #2169B2;
	box-shadow: 0 0 16px rgba(148,148,148,.2);
	transition: all .3s ease-in;
	border-radius: 0px;
	min-height: 380px;	
	margin-bottom: 20px;
	}

.service-item{ position: relative; margin: 0px 30px 40px;  overflow: hidden;}
.btn_servicemore {position: absolute; left: 0; bottom: 0; text-align: center; width: 100%; }
.btn_servicemore a {display: block; padding: 5px 0px; text-decoration: none; -moz-transition: all .4s ease; -o-transition: all .4s ease; -webkit-transition: all .4s ease;	transition: all .4s ease; }
.services_section .btn{ background: #2169B2; border-radius: 0px; margin: 10px 80px 20px; color: #fff; padding:5px;}
.green_border{	border-top: 4px solid #7BBF4B;	}
.service-item .service_heading, .common_service_box .service_heading{font-weight: 500; font-size: 20px; line-height: 29px; text-align: center; color: #2169B2;}
.common_service_box{ min-height:100% !important; padding: 20px 0;}
.common_service_box .service_heading{ font-size: 16px; font-weight: bold;}
.service-item p{ text-align: center; padding: 0 7px ; }
.service-item:hover, .service-item:focus{box-shadow:0 6px 26px rgba(148,148,148,.5); }
.service-item:hover .btn, .service-item:focus .btn{ background: #7BBF4B;}
.service-item .service-icon, .service-item:hover .service-icon{ width: 100%;	 max-height: 180px; overflow: hidden; }
.service-item .service-icon img{transition: 0.5s all ease-in-out; max-height: 180px; width:100%; object-fit: cover; object-position: center; }
.service-item:hover .service-icon img{ transform: scale(1.1);}

/* Photogallery*/
#myCarousel1 img{ object-fit: cover;}
#myCarousel1.carousel {margin-top:0;}
#myCarousel1 .carousel-item {  margin-top:0; }

/* LATEST NEWS*/
.ysri_section section.spotlight{padding: 8% !important;}
.spotlight{ background: #2169B2; border-radius: 10px; font-size: 12px; margin-bottom: 30px;  }
.newsEvents_section{ 
	border-top: solid 1px #eee; 
	border-bottom: solid 1px #eee;
	background-image: url(../img/background_4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed ;
	background-size: cover; 
	padding:150px 0 !important;
	box-shadow: 8px 8px 6px -6px rgba(238, 238, 238, 0.2); 
	}
ul.spotlight_news { padding-left:0 !important;}
.spotlight_news li{ margin-bottom: 15px; color: #E3E3E3; list-style-type: none; }
.spotlight_news a{ color: #fff; display: block;}

/*Owl Carousel For NewsLetter*/
.newsScroller{ padding :0px;}
.owl-item .item{ margin :0 7px; margin-top:50px; }
.card{background: #EFF7FF; border-radius:10px; padding: 30px 10px 10px;}
.newsScroller .owl-nav {
	z-index: 9999;
    position: absolute;
    /*padding: 0 45px;*/
    width: 100%;
    height: 45px;
    top: calc(45% - 22.5px);
    display: flex;
    justify-content: space-between;
}

.newsScroller .owl-nav .owl-prev,
.newsScroller .owl-nav .owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EDEDED !important;
    border-radius: 10px;
    transition: .5s;
	left:0px;
}

.newsScroller .owl-nav .owl-prev span, .newsScroller .owl-nav .owl-next span{ color: #2169B2;font-size: 40px;}
.newsScroller .owl-nav .owl-prev:hover span, .newsScroller .owl-nav .owl-next:hover span{ color:#fff;}

.newsScroller .owl-nav .owl-prev:hover, .newsScroller .owl-nav .owl-next:hover { background: #2169B2 !important; color:#fff;}

.newsScroller .card-title {
  width: 25%;
  position: absolute;
  top: -33px;
  left: 15px;
  border:solid 1px #ccc;
  border-top:solid 2px #2169B2;
  background: #fff;
  color: #fff;
	border-radius: 0px;
	
}
.newsScroller .card p{ font-size: 12px; }	

.newsScroller .card p.card-top-box-p1, p.card-top-box-p2{ color:#fff; font-size: 14px; color: #2169B2;}
.newsScroller .card p.card-top-box-p2{ font-size: 22px; font-weight: bold;background: #2169B2; padding: 3px 0; color: #fff;}

.newsScroller .card { 
	text-align: center;
	background: #FFFFFF;
	height: 200px;	
	min-height: 200px;	
	margin-bottom: 20px;
	position: relative;	
	padding: 20px 0 0;
	}

	.btn_downloadnews {
		letter-spacing: -.5px;
		position: absolute;
		left: 0;
		bottom: 0;
		text-align: right;
		width: 100%;
		font-weight: 500;
		padding:0 10px 5px;
		text-decoration: none;
		
	  }
	  .btn_downloadnews a{color:brown; font-size: 13px; font-weight: 500;}

/*ABOUT US SECTION*/
.blue_section{ background-color: #F1F8FF;}
#myCarousel1 { padding:10px; background: #65B43E; border-radius: 10px;}
#myCarousel1 .carousel-item{ height: 15rem;}

/*FOOTER*/
footer{ background: #2169B2; color:#fff; font-size:12px; padding-top:0;}
.top_footer{ padding-top:20px;}
footer h5{ font-size:18px !important; font-weight: 600;}
footer .bordertitle::before{
	background-color: #9ED2FF; 
	content: '';
	position: absolute;
	height: 4px;
	width: 100px;
	max-width: 100%;
	top: auto;
	bottom: -4px;
	left: 0;
	right: auto;
	}
footer .btn{ font-size: 12px; font-weight:500; border: solid 1px #fff;}
footer a, footer a:hover{color:#fff; text-decoration: none;}
footer ul { margin-left: 15px; }
footer ul li { list-style-type: square;}
.copyright{ background:#000; padding:10px 0; text-align: center; }


/* TAB CONTENT */
.nav-tabs{ border-bottom :solid 4px #2169B2;  }
.nav-tabs .nav-link{ color:#2169B2;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{border :solid 4px #2169B2; border-bottom:0; }
.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover{ border-bottom:0; background: #2169B2; color:#fff}
.tab-content{border :solid 4px #2169B2; border-top:0;padding:20px; border-radius:0 0 10px 10px; background: #fff; font-size:14px;}
.tab-content ul li{ line-height:30px; border-bottom: dotted 2px #ccc;}
.tab-content ul li a{ text-decoration:none; color:#777;}

/* About Us Page*/
.about_icons i{ color: #2169B2; }
.about_icon_bg{ border-radius:100%; width:130px; height: 130px; text-align: center; padding: 15px; background-color:#F1F8FF; border: solid 1px #C0DEFF; }
.about_icon_bg:hover{ background-color:#EEFFE2; border: solid 1px #57A456;  transition: 0.2s; }
.about_icon_bg:hover i{color:#57A456; }


/* FLIP BOXES */
.flip-container {
perspective: 1000px;
-moz-transform: perspective(1000px);
transform: perspective(1000px);
-moz-transform-style: preserve-3d;
-webkit-perspective: 1000;
-moz-perspective: 1000;
-o-perspective: 1000;
margin-bottom: 30px;
	padding: 10px auto;
}
.flip-container:hover .flipper, .flip-container.hover .flipper {	transform: rotateY(180deg);}
.flip-container, .front, .back {width: 100%;height: 180px; }
 .back,.front {height: 150px; padding: 10px;  }
.back{padding-top: 30px;}
.flipper {transition: 0.6s;	transform-style: preserve-3d;	position: relative;}
.front, .back {	backface-visibility: hidden; position: absolute; top: 0; left: 0;}
.front {z-index: 2;  -webkit-transform: rotateY(0deg);	transform: rotateY(0deg); 	background: #fff;border-radius: 10px;}
.flip-container .common_service_box i {border-radius: 100%; width: 60px; height: 60px; line-height: 120%; font-size: 28px;}
.services_section .flip-container .btn {background: #2169B2; padding: 5px 10px; font-size: 12px; color: #fff !important; border-radius: 0px; padding:4px 8px;}

/* back, initially hidden pane */
.back { -webkit-transform: rotateY(180deg);	transform: rotateY(180deg);}

/*Contact Page*/
.contactUs_section .box_contact{ 
	min-height: 360px; 
	margin: 0 0 40px; 
	padding: 15px; 
	box-shadow: 0px 0px 4px 4px rgba(209, 209, 209, 0.15);
	border-radius: 10px;border:1px solid #ddd; 
	border-top: 3px solid #2169B2; 
	background: #fefefe;  
	text-align: center;
	}
	.contact_icon i{ width: 60px; height: 60px; background-color: #2169B2; border-radius: 100%; line-height: 60px; color: #fff;}
	.contactUs_section .box_contact h6{ text-transform: uppercase; margin: 20px 0 10px;   font-weight: 700;
	  font-size: 14px;
	  line-height: 20px;
	  color: #000000;

	}

/*Sign In Page*/
.signin_section .box_signin{ 
	min-height: 180px; 
	margin: 0 0 40px; 
	padding: 15px; 
	box-shadow: 0px 0px 4px 4px rgba(209, 209, 209, 0.15);
	border-radius: 10px;border:1px solid #ddd; 
	border-top: 3px solid #2169B2; 
	background: #F1F8FF;  
	text-align: left;
	}
	.signin_section .box_signin ul { padding: 0;}
	.signin_section .box_signin ul li{ list-style-type: none; margin-bottom: 10px; }
	.signin_section .box_signin ul li a{font-weight: bold; color: #777;  text-decoration: none; margin-bottom: 5px; 
		padding:5px; position: relative; transition: .5s; border-bottom:solid 1px #ccc; display: block;}
	.signin_section .box_signin ul li a:hover { color: #000;}
	.signin_section .box_signin ul li a::before {
			position: absolute;
			content: "";
			width: 0;
			height: 2px;
			bottom: 0;
			left: 50%;
			background: #2169B2;
			transition: .5s;
		  }
	.signin_section .box_signin ul li a:hover::before{ width: 100%; left: 0; } 
	.signin_section h6{ position: relative; text-transform: uppercase; margin-bottom:20px; font-weight: 700; font-size: 18px;
		border-bottom:dotted 2px #2169B2; color: #2169B2; padding: 10px; }	
	.signin_section h6::before {
		font-family: "FontAwesome";
		position: absolute;
		right:0px;
		font-weight: 400;
		content: "\f090";
		
	  }

/*INNER PAGES*/
h3.heading_inner{ text-align: left; font-size: 35px; margin-bottom: 2%;}
.inner_twocol_layout{ margin:0;}
.inner_twocol_layout .sidebar_menu{ color:#fff; border-radius: 0PX; margin-bottom:10px;}
.inner_twocol_layout .sidebar_menu a{color:#fff !important;}
.inner_twocol_layout .sidebar_menu .btn{ width:100%; text-align: left; background: #2169B2; color:#fff !important;text-transform:uppercase; font-weight: 500; }
.inner_twocol_layout .sidebar_menu .btn:focus{background : #2169B2; }
.inner_twocol_layout .sidebar_menu .btn-toggle::before {width: 1.25em; line-height: 0; color:#fff ;
content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
transition: transform .35s ease; transform-origin: .5em 50%; }
.inner_twocol_layout .sidebar_menu{ padding:10px;}
.inner_twocol_layout .sidebar_menu ul li{padding:0; margin-top: 10px !important;}
.inner_twocol_layout .sidebar_menu h4{ padding:20px 10px 0; font-size: 18px; }
.inner_twocol_layout .sidebar_menu a{color: #2169B2 !important; text-decoration: none; display: block; width: 100%; }
.inner_twocol_layout .sidebar_menu a:hover{color:#777 !important; padding-left:5px; transition: 0.5s; }
.inner_twocol_layout .sidebar_menu ul ul li{ padding:6px 0px; line-height: 20px; font-size: 13px; margin-top: 0px !important; list-style-type: disc; margin-left: 20px;}
.inner_twocol_layout .sidebar_menu ul ul{   margin-left: 0px; color: #2169B2; border: solid 1px #2169B2; border-top:0; border-radius:0 0 5px 5px; background: #e6f3ff !important;}
.inner_twocol_layout .rightsidebar_content table tr td{ font-size: 12px; text-align: left;}
.rightsidebar_content .tab-pane{height: 300px; overflow-y:scroll;}
.rightsidebar_content{ text-align: justify; height: 500px; overflow-y:scroll; padding-right:20px;}
.rightsidebar_content p .download_btn{ margin-bottom: 10px;}
.rightsidebar_content .download_btn{ background: #7BBF4B; float: right; color: #fff;}
.rightsidebar_content .download_btn::before {
	font-family: "FontAwesome";
	width: 1.25em;
	line-height: 0;
	content: "\f56d";
	transition: transform .35s ease;
	transform-origin: .5em 50%;
		color:#fff ;
	}
.iframe_box{ width: 100%; min-height: 300px; border: solid 2px #d9d9d9; padding: 5px; }

/*SEARCH CRITERIA PAGE*/

.search_panel h3{ font-size:25px; margin-bottom: 3%;}
.search_panel .card { background: #fff; padding:3px 3px 10px; text-align: center;  box-shadow: 1px 5px 13px #f1f1f1; border-color: #EEEEEE; transition: 0.6s all; border-radius: 10px; margin-bottom: 15px; }
.search_panel .card:hover{transform: translateY(-10px); box-shadow: 1px 5px 13px #d9d9d9;}
.search_panel .card-body{padding:0 ;  margin-bottom: 15px; background: #fff;}
.search_panel .card-title{ background-color: #2169B2; color:#fff; padding:10px 5px; margin-bottom: 20px; border-radius: 10px 10px 0 0; text-transform: uppercase; font-size: 16px;}
.search_panel .card-link{ background-color:#fff; padding: 5px; text-decoration: none; margin-bottom: 5px !important; border: 2px dotted #EEEEEE; color: #000; }
.search_panel .card-link:hover{ color: #000; background: #D8EDFF; }

.search_panel form{background-color: #2169B2; color: #fff; padding: 10px; border-radius: 0px; margin: 10px 0 20px;}
.search_panel form.row > * { padding:0 5px;}
.search_panel form .btn { font-size:14px; text-transform: uppercase;}
.search_panel .form-select, .search_panel input.form-control{ font-size: 13px; margin:5px; }
.search_panel input.form-control{ border: 1px solid #ced4da; padding: .375rem .75rem .375rem .75rem;color: #212529;}
.search_panel .btn:hover{ background: #000;}
.search_panel .table{ background: #fff; font-size: 12px;}
.download_list_btn{ font-size:20px; text-align: end; margin-bottom: 5px;}
.download_list_btn a{ color: #2169B2; background-color: #D0D0D0; padding:5px 10px; border-radius:5px;}

/*FAQ PAGE*/
.faq_section .accordion-button{ background: #f7f7f7; border-left: 3px solid#08c; color: #777; border-radius:20px; font-size:14px; font-weight: 500; line-height: 20px;}
.faq_section .accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed{ border-radius:10px;}
.faq_section .accordion-flush .accordion-item{ border-radius:10px; margin-bottom: 10px; color: #777;}
.faq_section h2.accordion-header{text-align: center; line-height: 2px; padding: 0px; font-weight: bold; margin-bottom: 0px; }
.faq_section h2.accordion-header .accordion-button{ font-size: bold !important;}
.faq_section .accordion-item{ background: #fff; border:0 !important;}
.faq_section .accordion-button:focus{ border:0 !important; box-shadow: 0 !important; background: #08c; color: #fff; }
.faq_section .accordion-button:focus::after{color: #fff;}

/*Responsive Section*/
@media (max-width:768px){
	
	h2{font-weight: 600; font-size: 30px;}
	.navbar-brand{ width:80%; margin:5px 0}
	#navbarCollapse li.nav-item .nav-link{ height:auto; line-height: 20px;  padding: 8px !important ; color: #fff; margin: 1px 0; }
	.main_ysriHeader .navbar-nav li.nav-item .active, li.nav-item .nav-link:hover{ background: #fff; color: #2169B2 !important;}
	.navbar-collapse{ background-color: #2169B2; margin:10px 0; padding:20px; margin-top:-26px; border-radius:5px 0 5px 5px;}
	footer h5{ margin-top: 10px; margin-bottom: 15px !important; }
	.header_topbar{ text-align:center;}
	.service-item{ position: static;	}
	.btn_servicemore {position: static;}
	.service-item{ min-height: auto;	}
	.contactUs_section .box_contact{min-height: auto; }


}

	@media (min-width: 992px){
		.dropdown-menu .dropdown-toggle:after{
			border-top: .3em solid transparent;
		    border-right: 0;
		    border-bottom: .3em solid transparent;
		    border-left: .3em solid;
		}

		.dropdown-menu .dropdown-menu{
			margin-left:0; margin-right: 0;
		}

		.dropdown-menu li{
			position: relative;
		}
		.nav-item .submenu{ 
			display: none;
			position: absolute;
			left:100%; top:-7px;
		}
		.nav-item .submenu-left{ 
			right:100%; left:auto;
		}

		.dropdown-menu > li:hover{ background-color: #f1f1f1 }
		.dropdown-menu > li:hover > .submenu{
			display: block;
		}
	}


	.quick_links h4{ color:#000; text-align: center; font-weight: bold; margin-bottom: 30px;}
	.quick_links{background:#f8f8f8; padding: 15px 0 5px; border-top:1px solid #ececec; text-align: center;}
	.quick_links .content-grid {
		overflow:hidden;
		margin:0;
		padding:0
	   }
	   .quick_links .content-grid .content-grid-item {
		position:relative;
		padding:10px;
		margin:0;
		display:flex;
		align-items:center;
		background: #fff;
		justify-content:center
	   }
	   .quick_links .content-grid .content-grid-item:before,
	   .quick_links .content-grid .content-grid-item:after {
		content:'';
		position:absolute
	   }
	   .quick_links .content-grid .content-grid-item:before {
		height:100%;
		top:0;
		left:-1px;
		border-left:1px solid #dadada
	   }
	   .quick_links .content-grid .content-grid-item:after {
		width:100%;
		height:0;
		top:auto;
		left:0;
		bottom:-1px;
		border-bottom:1px solid #dadada
	   }
	   .quick_links .content-grid .content-grid-item .img-fluid {
		display:inline-block;
		flex:0 0 auto
	   }
	   .quick_links .content-grid.content-grid-dashed .content-grid-item:before {
		border-left:1px dashed #dadada
	   }
	   .quick_links .content-grid.content-grid-dashed .content-grid-item:after {
		border-bottom:1px dashed #dadada
	   }

	   .quick_links .content-grid .content-grid-item {
		min-height:150px;
		border:1px solid #e4e4e4;
		border-left:none
	   }
	   .quick_links .content-grid .content-grid-item:first-child {
		border-left:1px solid #e4e4e4
	   }
	   .quick_links .content-grid .content-grid-item::before,
	   .quick_links .content-grid .content-grid-item::after {
		content:none
	   }
	    .quick_links.content-grid .content-grid-item .img-fluid {
		display: inline-block;
		flex: 0 0 auto;
	  }

	   @media(max-width:991px) {
		.quick_links .content-grid .content-grid-item:nth-child(4) {
		 border-left:1px solid #e4e4e4
		}
		.quick_links .content-grid .content-grid-item:nth-child(4),
		.quick_links .content-grid .content-grid-item:nth-child(5),
		.quick_links .content-grid .content-grid-item:nth-child(6) {
		 border-top:0
		}
	   }
	   @media(max-width:767px) {
		.quick_links .content-grid .content-grid-item {
		 border-top:0;
		 
		 border-left:1px solid #e4e4e4
		}
		.quick_links .content-grid .content-grid-item img{max-width:50%;}
		.quick_links .content-grid .content-grid-item:first-child {
		 border-top:1px solid #e4e4e4
		}
	   }